---
//import transitions effect
import { ViewTransitions } from "astro:transitions";
import MainLayout from "../layouts/MainLayout.astro";

//import layout

---
<MainLayout>
  <ViewTransitions />
  <div class="p-5 mb-4 bg-light rounded-3">
    <div class="container-fluid py-5">
      <h1 class="display-5 fw-bold">ASTRO, REACT & LARAVEL</h1>
      <p class="col-md-8 fs-4">
        Belajar CRUD dengan Astro, React dan Laravel di SantriKoding.com
      </p>
    </div>
  </div>
</MainLayout>